<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      Check In
      <input type="date" class="form-control" formControlName="checkin">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Check Out
      <input type="date" class="form-control" formControlName="checkout">
    </label>
    </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">BOOK</button>
  </div>
</form>
<div class="form-group" *ngFor="let item of listTimeOrder; index as i" >
  <div *ngIf="item.status.id == 2">
    Từ ngay: {{item.beginDate}} đến ngay: {{item.endDate}} đã có người book!
  </div>
</div>
Bạn vui lòng book ngày khác.
