<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="bg" style="background-image: url(https://statics.vntrip.vn/data-v2/hotels/42889/img_max/42889_1567053898_img_3258.jpg);">
    <a class="navbar-brand" routerLink="/home">HTTP</a>
<!--    <form class="form-inline">-->
      <div class="navbar-nav ml-auto">
      <ng-container *ngIf="user== null">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login" routerLinkActive="active"> Login </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/register" routerLinkActive="active"> Register </button>
        </ng-container>
      <ng-container *ngIf="user!= null">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/addprofile" routerLinkActive="active"> Profile </button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/editPassword" routerLinkActive="active"> Change Password </button>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit" routerLink="/login" routerLinkActive="active"> Log out </button>
      </ng-container>
      </div>
<!--    </form>-->
  </div>
</nav>

<app-login *ngIf=" user == null" (user)="checkuser($event)"></app-login>
