<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="text-center">
              <a class="active" id="register-form-link">Creat Home</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-warning" role="alert" *ngIf="message">
                <h4 class="alert-heading">{{message}}</h4>
              </div>
              <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="register-form">
                <div class="form-group">
                  <label class="col">
                    Tên căn nhà :
                  </label>
                    <input type="text" class="form-control" formControlName="name">
                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('name').invalid && formGroup.get('name').touched">
                    Invalid tên căn nhà.
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Room: </label>
                    <input type="text" class="form-control" formControlName="room">
                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('room').invalid && formGroup.get('room').touched">
                    Invalid Room!
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Address: </label>
                    <input type="text" class="form-control" formControlName="address">
                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('address').invalid && formGroup.get('address').touched">
                    Invalid address!
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Phòng ngủ : </label>
                    <input type="text" class="form-control" formControlName="bedroom">

                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('bedroom').invalid && formGroup.get('bedroom').touched">
                    Invalid Phòng ngủ !
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Phòng tắm : </label>
                    <input type="text" class="form-control" formControlName="bathroom">
                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('bathroom').invalid && formGroup.get('bathroom').touched">
                    Invalid phong tắm !
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Mô tả : </label>
                  <textarea type="text" class="form-control" formControlName="description"></textarea>
                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('description').invalid && formGroup.get('description').touched">
                    Invalid mô tả !
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Giá một đêm :  </label>
                  <input type="text" class="form-control" formControlName="priceByNight">
                  <div class="alert alert-warning" role="alert"
                       *ngIf="formGroup.get('priceByNight').invalid && formGroup.get('priceByNight').touched">
                    Invalid giá !
                  </div>
                </div>
                <div class="form-group">
                  <label class="col">
                    Loại căn hộ
                    <select formControlName="category" class="form-control">
                      <option [defaultSelected]="1" value="Home stay"> Home stay</option>
                      <option value="Nhà nghỉ">Nhà nghỉ</option>
                      <option value="Nhà trọ">Nhà trọ</option>
                    </select>
                  </label>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit" name="register-submit" id="register-submit" tabindex="4"
                         class="form-control btn btn-register" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
          <!--<pre>-->
          <!--{{ formGroup.value | json}}-->
          <!--</pre>-->

