<div class="container login">
  <h2 class="text-center">Login</h2>
  <div class="alert alert-warning" role="alert" *ngIf="message">
    <h4 class="alert-heading">{{message}}</h4>
  </div>
  <a routerLink="/addprofile">Add Profile</a>
  <div><br/></div>
  <a routerLink="/editPassword">Change Password</a>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
      <div class="form-group row">
        <label class="col">
          Email
          <input type="email" class="form-control" formControlName="email">
        </label>
        <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
          Invalid email!
        </div>
        <input type="hidden" formControlName="password">
      </div>
      <div class="form-group row">
        <label class="col">
          Password
          <input type="password" class="form-control" formControlName="password">
        </label>
        <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
          Invalid password!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">Submit</button>
      </div>
      <div class="form-group">
        <button class="btn btn-info" (click)="logout()">Logout</button>
      </div>
    </form>
  </div>
</div>
<pre>
{{ loginForm.value | json}}
</pre>


