<nav class="nav nav-bar">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register" >Register</a></li>
      <li><a routerLink="/addprofile" >Profile</a></li>
      <li><a routerLink="/editPassword" >Profile</a></li>
    </ul>
  </li>
</nav>
<router-outlet></router-outlet>
