<!--<nav class="navbar navbar-light bg-light justify-content-between">-->
<!--  <div class="bg" style="background-image: url(https://statics.vntrip.vn/data-v2/hotels/42889/img_max/42889_1567053898_img_3258.jpg);">-->
<!--    <a class="navbar-brand" routerLink="/home">HTTP</a>-->
<!--&lt;!&ndash;    <form class="form-inline">&ndash;&gt;-->
<!--      <div class="navbar-nav ml-auto">-->
<!--      <ng-container *ngIf="user== null">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login" routerLinkActive="active"> Login </button>-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/register" routerLinkActive="active"> Register </button>-->
<!--        </ng-container>-->
<!--      <ng-container *ngIf="user!= null">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/addprofile" routerLinkActive="active"> Profile </button>-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/editPassword" routerLinkActive="active"> Change Password </button>-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit" routerLink="/login" routerLinkActive="active"> Log out </button>-->
<!--      </ng-container>-->
<!--      </div>-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--  </div>-->
<!--</nav>-->
<!--<div class="navbar-nav ml-auto">-->
<!--  <ng-container *ngIf="!auth.isAuthenticated()">-->
<!--    <a class="nav-item nav-link" routerLink="/login">Login</a>-->
<!--    <a class="nav-item nav-link" routerLink="/register">Register</a>-->
<!--  </ng-container>-->
<!--  <ng-container *ngIf="auth.isAuthenticated()">-->
<!--    <a class="nav-item nav-link">{{auth.getUsername()}}</a>-->
<!--    <div class="nav-item dropdown clickable">-->
<!--      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        Owner Section-->
<!--      </a>-->
<!--      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--        <a class="dropdown-item" routerLink="/users/profile">Profile</a>-->
<!--        <a class="dropdown-item" routerLink="/rentals/new">Create Rental</a>-->
<!--        <a class="dropdown-item" routerLink="/manage/booking">Manage Bookings</a>-->
<!--        <a class="dropdown-item" routerLink="/manage/rental">Manage Rentals</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <a (click)="logout()" class="nav-item nav-link clickable">Logout</a>-->
<!--  </ng-container>-->
<!--</div>-->
<app-desktop></app-desktop>
<router-outlet></router-outlet>
