<div class="alert alert-warning" role="alert" *ngIf="message">
  <h4 class="alert-heading">{{message}}</h4>
  <div class="alert alert-warning" role="alert" *ngIf="role == 2">
    <a routerLink="/host">Hello host, Click here to continue</a>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="role == 1">
    <a routerLink="/user">Hello user, Click here to continue</a>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="role == 3">
    <a routerLink="/admin">Hello admin,Click here to continue</a>
  </div>
</div>


