
<h3>Day là danh sach nha</h3>
<div class="container">
  <div class="media">
    <div>
      <div class="media-left media-middle" *ngFor="let im of image; index as i">
        <img class="media-object" src="{{im}}" width="50" height="50">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Name: {{item.houseName}}</h4>
        <p>Dien tich: {{item.area}}</p>
        <p>Dia chi: {{item.address}}</p>
        <p>So phong tam: {{item.bathroomNumber}}</p>
        <p>So phong ngu: {{item.bedroomNumber}}</p>
        <p>Loai phong: {{item.category.name}}</p>
        <p>Gia: {{item.price}}</p>
      </div>
      <form class="form-group" [formGroup]="statusHomeForm" (ngSubmit)="onSubmit()">
        <label class="col">
          Chọn mục đích sử dụng:
          <select  formControlName="status" class="form-control">
            <option [defaultSelected]="1" value="1">AVAILABLE</option>
            <option value="2">BOOKED</option>
          </select>
        </label>
        <div class="form-group">
          Ngay bat dau
          <input formControlName="beginDate" type="date" class="form-control" >
        </div>
        <div class="form-group">
          Ngay ket thuc
          <input formControlName="endDate" type="date" class="form-control" >
        </div>
        <button (click)="onSubmit()">Cập nhật</button>
      </form>
    </div>
  </div>
</div>

