
<h3>Day là iterm</h3>
<div class="container">
  <div class="media">
    <div>
      <div class="media-left media-middle">
        <a [routerLink]="['/host',item.id]"><img class="media-object" src="{{item.imageUrls}}"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{item.houseName}}</h4>
        <p>{{item.area}}</p>
        <p>{{item.address}}</p>
        <p>{{item.bathroomNumber}}</p>
        <p>{{item.bedroomNumber}}</p>
        <p>{{item.category.name}}</p>
        <p>{{item.price}}</p>
      </div>
      <a [routerLink]="['/set',item.id]" class="btn btn-info">Đặt nhà</a>
    </div>
  </div>
</div>

