<div class="profile">
  <div class="alert alert-success" role="alert" *ngIf="message">
    <h4 class="alert-heading">{{message}}</h4>
  </div>
  <a routerLink="/addprofile">Add Profile</a>
  <div><br/></div>
  <div class="row">
    <div class="col-md-4" ><a routerLink="/addprofile">Add Profile</a>
      <div><br/></div>
      <a routerLink="/editPassword">Change Password</a>
    </div>
    <br/></div>
  <a routerLink="/create-home">Create home </a>
</div>
    <div class="col-md-4" >
      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{percentage}}"
             aria-valuemin="0" aria-valuemax="100"
             [ngStyle]="{width:percentage+'%'}">
          {{percentage}}%</div>
      </div>

      <label class="btn btn-default"> <input type="file"
                                             (change)="selectFile($event)">
      </label>

      <button class="btn btn-success" [disabled]="!selectedFiles"
              (click)="upload()">Upload</button>
      <form [formGroup]="data" (ngSubmit)="editMember()" class="col-md-12 offset-md-8">
        <input type="hidden" formControlName="token">
        <div class="form-group row">
          <label class="col-md-10">
            Name
            <input type="text" class="form-control" formControlName="name">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-md-10">
            Phone
            <input type="text" class="form-control" formControlName="phone">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-md-10">
            Address
            <input type="text" class="form-control" formControlName="address">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-md-10">
            Avatar
            <input type="text" class="form-control" formControlName="avatar">
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="form-group">
      <button class="btn btn-info" (click)="logout()">Logout</button>
    </div>
    <div class="col-md-4" ></div>
  <pre>
{{ data.value | json}}
</pre>


