li:hover {
  background-color: orange;
  border-radius: 2px;
}
.btn-default:hover{
  background-color: orange;
  border-radius: 3px;
}
.container-fluid{
  background-color: whitesmoke;
  border-radius: 3px;
}
.container{
  background-color: whitesmoke;
  border-radius: 4px;
}
