<body>
<div class="container register">
  <h2 class="text-center">Sign in</h2>
  <div class="row">
    <div class="col-md-4"><a routerLink="/addprofile">Add Profile</a>
      <div><br/></div>
      <a routerLink="/editPassword">Change Password</a></div>
    <div class="col-md-4">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
          <div class="form-group row">
            <label class="col">
              Email
              <input type="email" class="form-control" formControlName="email">
            </label>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
              Invalid email!
            </div>
            <input type="hidden" formControlName="password" id="demo">
          </div>
          <div class="form-group row">
            <label class="col">
              Password
              <input type="password" class="form-control" formControlName="password">
            </label>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
              Invalid password!
            </div>
          </div>
          <div class="form-group row">
            <label class="col">
              Confirm Password
              <input type="password" class="form-control" formControlName="confirmPassword" >
            </label>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched">
              Invalid password!
            </div>
          </div>
          <div class="form-group row">
            <label class="col">
              Chọn mục đích sử dụng:
              <select  formControlName="role" class="form-control">
                <option [defaultSelected]="2" value="2">Host</option>
                <option value="1">User</option>
              </select>
            </label>
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="registerForm.hasError('passwordnotmatch') &&
      registerForm.get('password').touched">
            Password does not match!
          </div>
          <div class="form-group">
            <button class="btn btn-info" type="submit">Submit</button>
          </div>
        </form>
      <div><p>{{message}}</p></div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
</body>
<pre>
{{ registerForm.value | json}}
</pre>

