<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a class="active" href="#" id="register-form-link">Sign Up</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
    <div class="col-md-4"><a routerLink="/addprofile">Add Profile</a>
      <div><br/></div>
      <a routerLink="/editPassword">Change Password</a></div>
    <div class="col-md-4">
      <div *ngIf="isSignUpFailed; else signupForm">
        Your registration is successful. Please login!
      </div>

      <ng-template #signupForm>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
          <div class="form-group">
            <label class="col">
              Email </label>
            <input class="form-control" formControlName="email" type="email">
            <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
                 class="invalid-feedback"
                 role="alert">
              Invalid email!
            </div>
            <input formControlName="password" id="demo" type="hidden">
          </div>
          <div class="form-group">
            <label class="col">
              Password </label>
            <input class="form-control" formControlName="password" type="password">
            <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched"
                 class="invalid-feedback"
                 role="alert">
              Invalid password!
            </div>
          </div>
          <div class="form-group">
            <label class="col">
              Confirm Password </label>
            <input class="form-control" formControlName="confirmPassword" type="password">
            <div
              *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched"
              class="invalid-feedback"
              role="alert">
              Invalid password!
            </div>
          </div>
          <div *ngIf="registerForm.hasError('passwordnotmatch') &&
      registerForm.get('password').touched" class="invalid-feedback"
               role="alert">
            Password does not match!
          </div>
          <div class="form-group">
            <label class="col">
              Chọn mục đích sử dụng:
              <select class="form-control" formControlName="role">
                <option [defaultSelected]="2" value="2">User</option>
                <option value="3">Host</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <input class="form-control btn btn-register" id="register-submit" name="register-submit"
                       tabindex="4"
                       type="submit" value="Sign Up">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-center">
                  <p class="register"> Nếu đã có tài khoản vui lòng đăng nhập <a href="/login"> tại đây</a></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </div>
    <div *ngIf="!isSignUpFailed" class="alert alert-warning">
      Chưa đăng ký thành công
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
        </div>
</body>

